/* Colors:
 *
 * Text: 		#ffffff - white
 * Background: 	#353033 - dark gray
 *
 * Green 1:		#3CB34F - lightest green
 * Green 2:		#159545 - light green
 * Green 3:		#0F6539 - green
 *
 * Gray 2:		#7F7C7F - light gray
 * Gray 3:		#8B8886 - gray
 * Gray 4:		#96939D - dark gray
 */
:root {
	--text: #ffffff; /* white */
	--background: #353033; /* dark gray */
	--green-1: #3cb34f; /* lightest green */
	--green-2: #159545; /* light green */
	--green-3: #0f6539; /* green */
	--gray-1: #535353; /* light gray */
	--gray-2: #7f7c7f; /* light gray */
	--gray-3: #8b8886; /* gray */
	--gray-4: #969395; /* dark gray */
	--error: #ff5959;
	--info: #0284c7;
	--warning: #ca8a04;
	--success: #16a34a;

	--svg-arrow-black: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23000%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
	--svg-arrow-white: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
}

*,
*::after,
*::before {
	box-sizing: inherit;
}
html {
	overflow-x: hidden;
}
body {
	margin: 0;
	font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	font-size: 14px;
	line-height: 1.5;
	color: var(--text);
	background-color: var(--background);
	box-sizing: border-box;
	position: relative;
	overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 0.5em 0;
	font-weight: 400;
	line-height: 1.2;
}

h1 {
	font-size: 2em;
}

a {
	color: var(--green-2);
}

a:active {
	color: var(--green-3);
}

li {
	list-style-type: 'ᐉ ';
	list-style-type: '» ';
}

main {
	position: relative;
	max-width: 56em;
	background-color: rgba(0, 0, 0, 0.1);
	padding: 2em;
	margin: 0 auto;
	box-sizing: border-box;
	min-height: calc(100vh - 55px - 200px);
}

img {
	max-width: 100%;
	max-height: 100%;
	width: 100%;
	height: 100%;
}

code {
	font-family: menlo, inconsolata, monospace;
	background-color: rgba(0, 0, 0, 0.15);
	border: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 0.2em;
	padding: 0.1em 0.2em;
}

code.block {
	display: block;
	padding: 0.3em;
	white-space: pre-wrap;
}

.success {
	color: var(--success);
}
.warning {
	color: var(--warning);
}
.info {
	color: var(--info);
}
.error {
	color: var(--error);
}

input,
textarea,
button,
select {
	font-size: 1em;
	padding: 0.25em;
	margin: 0 0.2em;
	border-radius: 0.25em;
	background-color: #fff1;
	box-sizing: border-box;
	color: inherit;
	cursor: pointer;
	border: 2px solid #fff1;
	transition: 200ms linear;
	width: auto;
	appearance: none;
	flex: 1 0 0;
}
label {
	cursor: pointer;
}
input[type^='checkbox'],
textarea {
	cursor: text;
}
input:focus,
textarea:focus,
button:focus,
select:focus {
	border-color: #fff4;
}
input:focus-visible,
textarea:focus-visible,
button:focus-visible,
select:focus-visible {
	outline: 0.1em solid var(--green-2);
	border-color: none;
}
button:active {
	background-color: var(--green-1);
}

input[type='checkbox'] {
	vertical-align: text-top;
	appearance: none;
	margin-top: 0.125em;
	margin-right: 1em;
	width: 1em;
	height: 1em;
	padding: 0;
	position: relative;
}
input:hover,
textarea:hover,
button:hover,
select:hover {
	border-color: #fff8;
}
input[type='checkbox']:checked {
	border: 0.5em solid var(--green-1);
}
select {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;

	background-image: var(--svg-arrow-white);
	background-repeat: no-repeat;
	background-position: right 0.7em top 50%;
	background-size: 0.65em auto;
}
input:disabled,
textarea:disabled,
button:disabled,
select:disabled {
	background-color: #0001;
	border: 2px solid #00000008;
	color: #fffa;
}
input[type='checkbox']:checked:disabled {
	border: 0.5em solid var(--green-3);
}

.sapper {
	position: relative;
	width: 100%;
	overflow-x: hidden;
}

.row {
	display: flex;
}
.row + .row {
	margin-top: 0.3em;
}

.row > *:first-child {
	margin-inline-start: 0;
}
.row > *:last-child {
	margin-inline-end: 0;
}

.st-toast progress {
	border: unset;
	background: transparent;
}
.st-toast button {
	flex: unset;
	border: unset !important;
}

@media (min-width: 400px) {
	body {
		font-size: 16px;
	}
}
@media (min-width: 56em) {
	main {
		margin-bottom: 3.5em;
	}
}
