{{ define "content" }}
<h1>For Bedrifter</h1>

<div class="prose">
  <p>
    Itemize NTNU er NTNU Trondheims CTF-lag og en åpen interesseorganisasjon for
    alle ved NTNU med interesse for IT-sikkerhet. Vi ønsker å styrke den faglige
    kompetansen til våre medlemmer. Dette oppnår vi gjennom å holde kurs og
    CTF-konkurranser, og vi samarbeider gjerne med bedrifter som vil bidra til
    kompetansehevingen til våre medlemmer. Her er mulighetene mange, og vi er
    åpne for innspill til format på arrangement.
  </p>
</div>

<section>
  <h2>Hva vi kan bistå med</h2>
  <div class="prose">
    <p>
      Under et arrangement kan vi bistå med digital kommunikasjonskanal,
      profilering av arrangementet overfor våre medlemmer, og påmelding. Ved
      behov kan vi også bidra med CTF-oppgaver eller andre praktiske gjøremål
      tilknyttet arrangementet.
    </p>
  </div>
</section>

<section>
  <h2>Kontakt</h2>
  <div class="prose">
    <p>
      Er du en bedrift eller annen ekstern part som ønsker å gjennomføre et
      samarbeid med oss og våre medlemmer, eller har noe du lurer på? Ta kontakt
      med oss på {{ template "email" .Site.Contact.CompanyEmail }}.
    </p>
  </div>
</section>
{{ end }}
